.nav-wrapper{
    margin-bottom: 25px;
}

/* Chromium */
input ::-webkit-inner-spin-button,
input ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* FireFox */
input {
    -moz-appearance: textfield;
}